/* Common styles */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

image {
  display: block;
}

h2 {
  font-size: 36px;
  line-height: 1.11111;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

/* Common styles */

/* Header styles */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.logo-part {
  color: #4d5ae5;
}

.menu-link {
  font-size: 16px;
  font-weight: 500;
  color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-link {
  font-size: 16px;
  color: #434455;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
/* Header styles */

.hero {
  background-color: #2e2f42;
  text-align: center;
  width: 1440px;
  height: 600px;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07143;
  color: #fff;
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.benefit-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

.team-paragraph {
  text-align: center;
}

.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;
}

.footer-page {
  background: #2e2f42;
  width: 1440px;
  height: 312px;
}
.footer-logo {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-paragraph {
  color: #f4f4fd;
}
